*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgba(240, 238, 238, 0.6)
}
header{
    background-color: white;
}
.logo{
    height: 40px;
    vertical-align: middle;
    padding-left: 20px;
}
.title{
    font-size: 30px;
    font-weight: 800;
    vertical-align: middle;
    line-height: 2;
}
.container{
    width: 700px;
    margin: 0 auto;
    padding-top: 30px;
}
.sub-container{
    background-color: white;
    border-radius: 10px;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin: 2px; 
}
.sub-container2{
    background-color: white;
    border-radius: 10px;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin: 2px; 
}

.button-task{
    background-color: cornflowerblue;
    color: white;
    padding: 5px;
    border-radius: 10px;
    border-color: gray;
}
.button-section{
    background-color: white;
    color: rgb(212, 211, 211);
    padding: 5px;
    border-radius: 10px;
    border-color:gray;
}

ul{
    list-style-type: none;
}
li{
    line-height: 2.5;
}

.circle{
    padding: 5px 7px;
    font-size: 16px;
    border-radius: 50%;
    margin-right: 10px;
}
.done{
    border: 1px solid green;
    color: green;
}
.faild{
    border: 1px solid red;
    color: red;
}


.editorial{
    background-color:cornflowerblue;
}

.q1-goals{
    background-color:rgb(179, 73, 179);
}

.recruiting{
    background-color:rgba(0, 128, 0, 0.507);
}

.mobile{
    background-color:rgb(216, 140, 0);
}

.website{
    background-color:rgba(209, 0, 216, 0.452);
}

.sales{
    background-color:rgb(109, 226, 0);
}

.evid{
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
}

